@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

.App {
  height: 100vh;
  width: 100vw;
}

.nav-bar {
  height: 80px;
  width: 100%;
  background-color: #202020;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 30px;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 0.5px;
  border: none;
  color: #FFF;
  cursor: pointer;
}

.logo:hover {
  color: #EF233C;
  transition: 0.1s ease-in-out;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
}

button, a, .link, .logo {
  user-select: none;
}

.login-btn {
  width: 100%;
  margin: 6px 0px;
  padding: 18px 0px;
}

.primary-btn:hover {
  background-color: rgb(255, 65, 87);
  color: #FFF;
  border-color: rgb(255, 65, 87)
}

.secondary-btn {
  border: 2px solid #EF233C;
  background-color: transparent;
  color: #EF233C;
}

.secondary-btn:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.link {
  height: 100%;
  min-width: 150px;
  font-weight: 400;
  color: #FFF;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link:hover {
  color: #EF233C;
  transform: 0.1s ease-in-out;
}

#build-button {
  height: 100%;
  min-width: 150px;
  font-weight: 900;
  border: none;
}

#build-button:hover {
  background-color: rgb(255, 65, 87);
  color: #FFF;
}


a {
  font-weight: 700;
  font-size: 14px;
  border: none;
  padding: 9px 15px;
  background-color: #EF233C;
  border: 2px solid transparent;
  color: #FFF;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  text-decoration: none;
}
  
a:hover {
  color: #EF233C;
  background-color: transparent;
  border: 2px solid #EF233C;
  transition: 0.1s ease-in-out;
}

button {
  box-sizing: border-box;
  font-weight: 700;
  font-size: 14px;
  border: 2px solid transparent;
  padding: 12px 21px;
  background-color: #EF233C;
  color: #FFF;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

button:hover {
  color: #EF233C;
  background-color: transparent;
  border: 2px solid #EF233C;
  transition: 0.1s ease-in-out;
}

.modal-container {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 99;
}

#auth-modal {
  position: relative;
  padding: 30px 0px;
  background-color: #FFF;
  width: 32vw;
  min-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth {
  width: 100%;
  padding: 30px;
}

.auth > h1 {
  text-align: center;
  font-size: 2.4rem;
}

.close-menu {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.close-menu > svg {
  width: 21px;
  stroke: #EF233C;
  stroke-width: 21px;
}

.close-menu:hover > svg {
  stroke: rgb(255, 65, 87);
}

.dash-container{
  height: 100%;
  width: 100vw;
}

.container-one {
  height: 80vh;
  width: 100%;
}

.slide-img{
  height: 80vh;
  width: 100%
}

.container-two {
  height: 55vh;
  width: 100%;
  display: flex;
}

.about-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #333333;
  width: 40vw;
}

.about-img {
  width: 60vw;
  opacity: 0.8;
}

.container-three {
  height: 55vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.ribbon {
  position: relative;
  display: grid;
  font-size: 20px;
  grid-gap: 2px;
  grid-template-columns: repeat(3, 1fr) 1em;
  margin-left: 20px;
  width: 100%;
}

.ribbon-element {
  background-color: #EF233C;
  color: #FFF;
  font-size: 40px;
  font-weight: 700;
  line-height: 100px;
  padding: 9px 9px 9px 60px;
  display: flex;
  position: relative;
  text-decoration: none;
  transition: 0.1s ease-in-out;
}


.ribbon-element:hover {
  background-color: rgb(255, 65, 87);
  transition: 0.1s ease-in-out;
}

.ribbon-element:hover #right-ribbon-svg {
  fill: rgb(255, 65, 87);
  transition: 0.1s ease-in-out;
}

.ribbon-svg {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  height: 100%;
  fill: #FFF;
}

#right-ribbon-svg {
  transition: 0.1s ease-in-out;
  right: 0;
  left: unset;
  fill: #EF233C;
  background-color: #FFF;
}

footer {
  height: 140px;
  background-color: #202020;
}

.res-container {
  height: 60vh;
  width: 100%;
  display: flex;
}

.res-container-bikes {
  height: 60vh;
  width: 100vw;
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(60deg, #FFF 50%, #f8f8f8 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bike-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.bike-img {
  max-width: 33vw;
  max-height: 40vh;
  margin-right: 40px;
}

.bike-img:hover{
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.res-box {
  background-color: #333333;
  width: 45vw;
  align-items: center;
}

iframe {
  height: 100%;
  width: 55vw;
}

.res-img {
  width: 55vw;
}

#res-img-split {
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(30deg, #013A6B 50%, #004E95 50%);
  width: 55vw;
}

.Event{
  height: 100vh;
  width: 100%;
}

.SkillLevel {
  height: 100vh;
  width: 100%;
  background-image: -webkit-linear-gradient(37deg, #333333 50%, #202020 50%);
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-title {
  position: absolute;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: #FFF;
  z-index: 3;
}

#skill-img {
  max-width: 20.1vw;
  max-height: 55.1vh;
}

.skill-card {
  position: relative;
  background-color: #FFF;
  position: relative;
  overflow: hidden;
  height: 55vh;
  width: 20vw;
  border-radius: 3px;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,.5);
  margin: 5px 35px 5px 35px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.image-cover{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  transition: 0.3s ease-in-out;
  z-index: 3;
}

.fixed {
  position: fixed;
}


.skill-card:hover {
  transform: scale(1.1);
}

.skill-card:hover .image-cover{
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.skill-card img {
  position: absolute;
  width: 30vw;
  height: 55vh;
  transition: 0.3s;
}

.skill-card:hover img {
  transition: 0.3s;
  left: 0;
}

.PickCart {
  height: auto;
  min-height: 100vh;
  width: 100%;
  background-color: #FFF;
  /* background-image: -webkit-linear-gradient(90deg, #FFF 50%, #f8f8f8 50%); */
  display: flex;
  flex-direction: column;
}

.cart-nav{
  height: 80px;
  width: 100%;
  background-color: #202020;
  color: #FFF;
  display: flex;
  justify-content: space-between;
}

.category{
  width: 65vw;
  border: none;
  color: #FFF;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.category:hover {
  color: #EF233C;
  transition: 0.2s ease-in-out;
}

.pick-nav{
  min-width: 15vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-img:hover{
  color: #EF233C;
  transition: 0.2s ease-in-out;
}

#logout:hover{
  border: none;
}

.product-img{
  max-width: 300px;
  max-height: 250px;
}

#cart-footer {
  height: 100px;
  width: 100%;
  background-color: #202020;
  justify-self: flex-end;
}

.product-container{
  display: flex;
  flex-direction: column;
}

#checkout-button{
}